
body{
    background: url("https://wallpapers.com/images/hd/best-football-background-vkr4qy2utkrsn5rj.jpg")
    
    }
    #menu{
        background-color: #ffffff;
    }#robertocarlos img{
        float: right;
        width: 600px;

        }

    
#texto{
    background-color: #ffffff;
}
    