body{
background: url("https://wallpapers.com/images/hd/best-football-background-vkr4qy2utkrsn5rj.jpg")

}
#menu{
    background-color: #ffffff;
}#robertocarlos{
    text-align: center;
    margin: auto;
}
nav img{
    border:  3px solid #ffffff;
}
